.project {
    display: flex;
    gap: em(60);
    align-items: center;
    margin: 0 0 em(60) 0;
    overflow: hidden;
    @include mobile{
        flex-direction: column;
    }
    &:last-of-type {
        margin: 0;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;

        @include mobile {
            flex-direction: column;
        }
    }

    &-img {
        flex: 1;

        img {
            width: 100%;
            border-radius: em(18);
        }
    }

    &-content {
        flex: 1;

        svg {
            max-width: em(24);
            width: 100%;

            g {
                transition: 0.3s all ease-in-out;
            }

            &:hover {
                g {
                    transform: translate(2px, -2px);
                }
            }

        }

        h2,
        h3 {
            margin: 0 0 em(16);
        }

        p {
            margin: 0 0 em(30);
        }
    }
}