.review {
    &-wrap {
        overflow: hidden;
    }

    display: flex;
    // overflow: hidden;
    gap: em(30);
    margin-left: calc((100vw - em(1218)) / 2);
    scrollbar-width: none;
    @include mobile{
        margin-left: 0;
        scrollbar-width: auto;
        overflow: auto;
    }
    .review-slide {
        text-align: center;
        padding: em(40) em(20);
        box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.322);
        border-radius: 20px;
        transition: 0.3s all ease-in-out;
        min-width: calc(100% / 3);
        margin: 20px 0 20px 0;
        @include mobile{
            min-width: 100%;
        }
        &:first-of-type {
            margin-left: 20px;
        }

        &:last-of-type {
            margin-right: 20px;
        }

        figure {
            margin: 0 0 em(16);
            position: relative;
            display: inline-block;
            img {
                max-width: em(96);
                height: em(96);
                width: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: em(30);
                height: em(30);
                background-color: $basePrimary;
                background: url('../images/quote-white.svg') no-repeat center $basePrimary;
                background-size: 50%;
                border-radius: 50%;
            }
        }

        p {
            padding: 0 0 em(20);
            position: relative;
            margin: 0 0 em(20);
            color: $basePrimary;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 40%;
                height: 2px;
                left: 50%;
                transform: translateX(-50%);
                background: $basePrimary;
            }
        }

        h5 {
            margin: 0 0 em(20);
            font-weight: 500;
        }

        h6 {
            color: #71717A;
            font-weight: 500;
        }

        &-active {
            background-color: $basePrimary;
            color: #fff;

            p {
                color: #fff;
            }

            figure {
               

                &::after {
                    background-color: #fff;
                    background-image: url('../images/quote-black.svg');
                }
            }

            p {
                &::after {
                    background-color: #fff;
                }
            }

            h6 {
                color: #fff;
            }
        }
    }

}