*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 1.2vw;
  line-height: 2vw;
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
    line-height: 1.2;
  }
}

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
  font-style: normal;
}

span.outlined {
  color: white;
  text-shadow: -0.0625rem -0.0625rem 0 #000, 0.0625rem -0.0625rem 0 #000, -0.0625rem 0.0625rem 0 #000, 0.0625rem 0.0625rem 0 #000;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.3;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

h3 {
  font-size: 1.75rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #71717A;
}

p.small {
  font-size: 0.75rem;
  line-height: 1em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 76.125rem;
  width: 100%;
  margin: auto;
  padding: 0 0.9375rem;
}

.section-space {
  padding: 3.125rem 0;
}

.bottom-space {
  padding: 0 0 3.125rem 0;
}

.top-space {
  padding: 3.125rem 0 0 0;
}

.centered-title {
  text-align: center;
  margin: 0 0 1.875rem;
}

.bg-primary {
  background: black;
  color: #fff;
}
.bg-primary p {
  color: #fff;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.preloader {
  position: relative;
}
.preloader .line {
  position: fixed;
  top: 50%;
  width: 0%;
  transform: translateY(-50%);
  height: 0.375rem;
  background: #fff;
  z-index: 44;
}
.preloader .block {
  position: fixed;
  height: 50%;
  width: 100%;
  background: black;
  z-index: 44;
}
.preloader .block-top {
  top: 0;
}
.preloader .block-bottom {
  bottom: 0;
}

header {
  padding: 1.25rem 0;
  position: sticky;
  top: 0;
  z-index: 33;
  background-color: #fff;
}
header .menu-ess {
  justify-content: space-between;
  flex-basis: 65%;
  align-items: center;
}
@media (max-width: 767px) {
  header .menu-ess {
    padding: 100px 0 0 0;
    position: fixed;
    height: 100%;
    flex-direction: column;
    width: 100%;
    background-color: #f3eded;
    top: 0;
    right: 0;
    justify-content: normal;
    -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
    overflow: hidden;
    transition: 1s all ease-in-out;
  }
  header .menu-ess.active {
    -webkit-clip-path: circle(100% at 100% 0%);
            clip-path: circle(100% at 100% 0%);
  }
  header .menu-ess.active + .hamburger .line {
    background: #000;
  }
  header .menu-ess nav {
    margin: 0 0 1.25rem;
  }
  header .menu-ess nav ul {
    flex-direction: column;
  }
}
header.active {
  box-shadow: 10px 6px 8px -8px rgba(0, 0, 0, 0.3);
}
header .header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrap figure {
  flex-basis: 2.5rem;
  cursor: pointer;
}
header .header-wrap nav ul {
  display: flex;
  gap: 1.25rem;
}
header .header-wrap nav ul li {
  cursor: pointer;
  font-weight: 400;
}
header .header-wrap nav ul li.active {
  text-decoration: underline;
}
header .header-wrap .primary-btn {
  background: black;
  color: #fff;
  padding: 0.625rem 0.9375rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}
header .header-wrap .primary-btn img {
  width: 1.25rem;
  height: 1.25rem;
}
header .header-wrap .primary-btn:hover {
  background: #0e0d0d;
}
header .hamburger {
  display: none;
}
@media (max-width: 767px) {
  header .hamburger {
    transition: all 0.3s ease-in-out;
    display: block;
  }
  header .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
  }
  header .hamburger.is-active {
    animation: smallbig 0.6s forwards;
  }
  header .hamburger.is-active .line {
    transition-delay: 0.2s;
  }
  header .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }
  header .hamburger.is-active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  header .hamburger.is-active .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  @keyframes smallbig {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0);
    }
  }
}

.banner .banner-wrap {
  display: flex;
}
.banner .banner-wrap .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 10.375rem);
  z-index: 22;
  position: relative;
}
@media (max-width: 767px) {
  .banner .banner-wrap .content {
    height: auto;
  }
}
.banner .banner-wrap .content h1 {
  margin: 0 0 20px 0;
}
.banner .banner-wrap .content .banner-heading-anim {
  position: relative;
  overflow: hidden;
}
.banner .banner-wrap .content .banner-heading-anim .anim-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
}
.banner .banner-wrap .social-links {
  display: flex;
}
.banner .banner-wrap .social-links a {
  padding: 20px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 8px;
  transition: 0.3s all ease-in-out;
}
.banner .banner-wrap .social-links a:hover {
  background: black;
}
.banner .banner-wrap .social-links a:hover svg path {
  fill: #fff;
}
.banner .banner-wrap .social-links a svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.banner .banner-wrap .social-links a svg path {
  transition: 0.3s all ease-in-out;
}
.banner .banner-wrap figure {
  max-width: 55%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  width: 100%;
  opacity: 0.3;
  transform-origin: center;
  z-index: -1;
  transform-style: preserve-3d;
}
@media (max-width: 767px) {
  .banner .banner-wrap figure {
    display: none;
  }
}

#skills .skill-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(20% - 2.5rem), 1fr));
  gap: 2.5rem;
}
@media (max-width: 767px) {
  #skills .skill-wrap {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2.5rem), 1fr));
  }
}
#skills .skill-wrap li {
  padding: 1.25rem 1.25rem;
  text-align: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  max-height: 11.625rem;
}
#skills .skill-wrap li:hover {
  background-color: black;
  color: #fff;
}
#skills .skill-wrap li:hover path {
  fill: #fff;
}
#skills .skill-wrap li svg {
  margin: 0 0 1.875rem;
  flex-grow: 2;
  align-self: center;
  max-width: 4rem;
  width: 100%;
  min-height: 3.125rem;
}
#skills .skill-wrap li p {
  font-weight: bold;
}

.experience {
  padding: 1.25rem;
  border: 1px solid #D4D4D8;
  border-radius: 0.625rem;
  transition: 0.3s all ease-in-out;
  margin: 0 0 1.5rem;
}
.experience:last-of-type {
  margin: 0;
}
.experience:hover {
  background-color: #27272A;
}
.experience-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1.25rem;
}
@media (max-width: 767px) {
  .experience-title {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
}
.experience-title img {
  max-width: 1.75rem;
  height: 1.75rem;
  width: 100%;
  background: #fff;
}
.experience-wrap {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.about-wrap {
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 767px) {
  .about-wrap {
    flex-direction: column;
  }
}
.about-wrap figure {
  flex-basis: 40%;
}
.about-wrap figure svg {
  width: 100%;
  height: 100%;
}
.about-wrap .content {
  flex-basis: 60%;
}
.about-wrap .content h2 {
  margin: 0 0 0.875rem;
}
.about-wrap .content p {
  margin: 0 0 1.25rem;
}

.project {
  display: flex;
  gap: 3.75rem;
  align-items: center;
  margin: 0 0 3.75rem 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .project {
    flex-direction: column;
  }
}
.project:last-of-type {
  margin: 0;
}
.project:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .project:nth-child(even) {
    flex-direction: column;
  }
}
.project-img {
  flex: 1;
}
.project-img img {
  width: 100%;
  border-radius: 1.125rem;
  min-height: 24.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-content {
  flex: 1;
}
.project-content svg {
  max-width: 1.5rem;
  width: 100%;
}
.project-content svg g {
  transition: 0.3s all ease-in-out;
}
.project-content svg:hover g {
  transform: translate(2px, -2px);
}
.project-content h2,
.project-content h3 {
  margin: 0 0 1rem;
}
.project-content p {
  margin: 0 0 1.875rem;
}

.review {
  display: flex;
  gap: 1.875rem;
  margin-left: calc((100vw - 76.125rem) / 2);
  scrollbar-width: none;
}
.review-wrap {
  overflow: hidden;
}
@media (max-width: 767px) {
  .review {
    margin-left: 0;
    scrollbar-width: auto;
    overflow: auto;
  }
}
.review .review-slide {
  text-align: center;
  padding: 2.5rem 1.25rem;
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.322);
  border-radius: 20px;
  transition: 0.3s all ease-in-out;
  min-width: 33.3333333333%;
  margin: 20px 0 20px 0;
}
@media (max-width: 767px) {
  .review .review-slide {
    min-width: 100%;
  }
}
.review .review-slide:first-of-type {
  margin-left: 20px;
}
.review .review-slide:last-of-type {
  margin-right: 20px;
}
.review .review-slide figure {
  margin: 0 0 1rem;
  position: relative;
  display: inline-block;
}
.review .review-slide figure img {
  max-width: 6rem;
  height: 6rem;
  width: 100%;
}
.review .review-slide figure::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.875rem;
  height: 1.875rem;
  background-color: black;
  background: url("../images/quote-white.svg") no-repeat center black;
  background-size: 50%;
  border-radius: 50%;
}
.review .review-slide p {
  padding: 0 0 1.25rem;
  position: relative;
  margin: 0 0 1.25rem;
  color: black;
}
.review .review-slide p:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
}
.review .review-slide h5 {
  margin: 0 0 1.25rem;
  font-weight: 500;
}
.review .review-slide h6 {
  color: #71717A;
  font-weight: 500;
}
.review .review-slide-active {
  background-color: black;
  color: #fff;
}
.review .review-slide-active p {
  color: #fff;
}
.review .review-slide-active figure::after {
  background-color: #fff;
  background-image: url("../images/quote-black.svg");
}
.review .review-slide-active p::after {
  background-color: #fff;
}
.review .review-slide-active h6 {
  color: #fff;
}

.getin-touch h2 {
  margin: 0 0 0.625rem;
}
.getin-touch p {
  margin: 0 0 1.375rem;
}
.getin-touch h3 {
  font-weight: 500;
  margin: 0 0 0.75rem;
}

footer {
  padding: 1.25rem 0;
}
footer .footwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footwrap svg {
  max-width: 2.5rem;
}
footer .footwrap svg polygon {
  fill: #fff;
}/*# sourceMappingURL=style.css.map */